* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #222;
    min-height: 100vh;
    overflow-x: hidden;
}

section.main {
    margin: 100px auto;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    max-width: 90%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    grid-auto-flow: dense;
    gap: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.date-created {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000050;
    border-radius: 8px 0 8px 0;
    padding: 5px 10px;
    font-family: 'consolas';
    letter-spacing: 0px;
    color: #dddddd;
    z-index: 5;
}

.track-image-wrapper {
    z-index: 1;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    padding: 0;
}

.track-image-wrapper img {
    width: 100%;
    height: 100%;
}

#start_position_data {
    position: absolute;
    bottom: 0px;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.200);
    padding: 10px 15px;
    border-radius: 10px 0 0 0;
}

.image-details {
    background-color: black;
    padding: 5px 10px;
    text-transform: capitalize;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    z-index: 10;
    box-shadow: 0 0px 10px #000000;
}

nav.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav.nav a.active {
    color: rgb(65, 180, 225);
}

nav.nav a:first-child {
    margin-left: 20px;
}

.options {
    background: transparent;
}

.options>* {
    padding: 2px 5px;
}

.btn {
    border: none;
    border-radius: 5px;
    background: transparent;
    box-sizing: border-box;
}

.btn:hover {
    background-color: green;
}

.use-btn {
    color: lightgreen;
    border: 1px solid lightgreen;
}

.use-btn:hover {
    color: black;
    background-color: lightgreen;
}

.del-btn {
    color: lightcoral;
    border: 1px solid lightcoral;
}

.del-btn:hover {
    color: black;
    background: lightcoral;
}

.unstyled-ancor{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
}