* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh;
    width: 100%; */
    margin: 0;
    padding: 0;
    background-color: #333;
}

canvas {
    display: block;
}

section.control-panel {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    max-width: 350px;
    background: rgba(41, 41, 41, 0.141);
    padding: 20px;
    /* border-radius: 10px; */
    overflow-y: auto;
    backdrop-filter: blur(15px);
    box-sizing: border-box;
    border: 2px solid transparent;
    /* pointer-events: none; */
    transition: transform 200ms, opacity 300ms;
    transform-origin: right;
}

section.control-panel::-webkit-scrollbar {
    display: none;
}

section.control-panel>h3 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    width: 100%;
    text-align: center;
    /* border-radius: 10px 10px 0 0; */
    background-color: rgba(161, 161, 161, 0.374);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

section.control-panel form {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: rgb(93, 165, 35); */
}

form>* {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
}

form * {
    box-sizing: border-box;
    height: 30px;
}

form>*>label {
    width: 50%;
    padding: 5px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(216, 216, 216, 0.295);
    font-size: 1.2em;
    text-transform: capitalize;
}

form>*>input {
    width: 50%;
    height: 100%;
    text-align: center;
    border-radius: 0px;
    outline: none;
    font-size: 1em;
    width: clamp(100px, 40%, 100px);
    background-color: rgba(255, 255, 255, 0.301);
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sub-heading {
    font-size: 1.4em;
    letter-spacing: 1px;
    color: #ffffff;
    margin-top: 10px;
}

.color-section {
    margin-top: 25px;
}



.action {
    justify-content: space-around;
    margin-top: 30px;
}

input[type="submit"],
#reset-track,
#submit-track-data {
    padding: 2px 10px;
    margin-top: 20px;
    width: fit-content;
    border: none;
    border-radius: 5px;
    background-color: #313131;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-transform: capitalize;
}

input[type="submit"]:hover,
#reset-track:hover,
#submit-track-data:hover {
    background-color: #1d1d1d;
}

.color-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
}

.color-input::-webkit-color-swatch {
    border: none;
}

section.alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 0px;
    border: 5px solid #d6d6d6;
    box-shadow: 0 0 30px #00000030;
    display: none;
    object-fit: fill;
    overflow: hidden;
}

section.alert #track-image {
    transform: scale(1.1);
}

section.alert p {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.1em;
    max-width: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
}

.php-ro-console {
    position: fixed;
    top: 50%;
    left: 5px;
    padding: 5px 10px;
    transform: translateY(-50%);
    background-color: black;
    min-height: 20px;
    height: fit-content;
    max-height: 50vh;
    max-width: 450px;
    min-width: 100px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 0 20px #00000050;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0.1;
    pointer-events: none;
    transition: 300ms;
}

.php-ro-console * {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

.php-ro-console::-webkit-scrollbar {
    display: none;
}

nav.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    z-index: 10;
    box-shadow: 0 0px 10px #000000;
    transition: transform 200ms;
    transform: translateY(-50px);
}

nav.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
nav.nav a.active {
    color: rgb(65, 180, 225);
}

nav.nav a:first-child {
    margin-left: 20px;
}
.nav-notch {
    position: absolute;
    width: 20%;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    height: 20px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0px 10px #000000;
}

#flag{
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: transparent;
    display: none;
    pointer-events: none;
    user-select: none;
}